# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Log files
*.log

# Editor directories and files
.nova
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Composer
composer.phar
/vendor/

# VueJS
node_modules
/dist

# Other
/public/api/conf.php
/public/fonts/fontawesome5
