Options +FollowSymLinks -MultiViews
<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Force HTTPS
  RewriteCond %{HTTPS} off 
  RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

  # Force www.drustcraft.com.au
  RewriteCond %{HTTP_HOST} ^drustcraft\.com\.au [NC]
  RewriteRule (.*) https://www.drustcraft.com.au/$1 [R=301,L]

  # Append .php to files if that file exists
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME}.php -f
  RewriteRule ^ %{REQUEST_URI}.php [L]

  # Send all other requests to vuejs
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule . /index.html [L]
</IfModule>